.idea/*
vendor/
composer.lock
phpunit.xml
*.phar
Tests/cache/*
Tests/logs/*
bin/*
.env

!/Entity
/Entity/*
!/Entity/.gitkeep

Tests/App/Entity
Tests/App/Repository
Tests/App/Voters
Tests/App/Form
Tests/App/templates