.idea/*
vendor/
composer.lock
phpunit.xml
*.phar
Tests/cache/*
Tests/logs/*
bin/*
.env

!Tests/App/src/Entity
Tests/App/src/Entity/*
!Tests/App/src/Entity/.gitkeep

Tests/App/src/Form
Tests/App/src/Repository
Tests/App/src/Security
Tests/App/templates